# This is a template for an .env file you can create to store docker DB secrets
ORDER_DB_URL=jdbc:postgresql://order_db:5432/order_service
ORDER_DB_USER=your_db_username_here
ORDER_DB_PASS=your_password_here